<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title: 'login'}) %>

    <body>
        <%- include('partials/headerNavbar') %>
            <main>
                <div class="login-form">
                    <form action="" method="GET">
                        <input class="input" type="text" placeholder="Nombre de usuario">
                        <input class="input" type="password" placeholder="Ingresá tu contraseña">
                        <button class="input" type="submit">Enviar</button>
                    </form>
                </div>

            </main>
            <%- include('partials/footer') %>
    </body>

</html>